.centrar_div_hijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divComponenteBotonAbreModal {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: rgb(204, 204, 204);
  height: 22.92vh;
}
.divComponenteBotonAbreModal .fondoAbreModal{
  position: relative;
  z-index: -4;
  background-color: white;
  height: 100%;
  bottom: 100%;
}
.divComponenteBotonAbreModal .fondoAbreModalHover{
  position: relative;
  z-index: -3;
  background-color: #4DB6AC;
  height: 0%;
  bottom: 100%;
}
.divComponenteBotonAbreModal img{
  width: 100%;
}
.divComponenteBotonAbreModal .abbrAbreModal{
  position: relative;
  z-index: -1;
  height: 50%;
  text-align: center;
  font-size: 5.00vh;
  font-family: 'Roboto-Thin';
  user-select: none;
  word-break: break-all;
}
.divComponenteBotonAbreModal .imgAbreModal{
  position: relative;
  z-index: -1;
  height: 0%;
  opacity: 0;
}
.divComponenteBotonAbreModal .textoAbreModal{
  position: relative;
  z-index: -1;
  height: 50%;
  text-align: center;
  font-size: 2.3vh;
  font-family: 'Roboto-BoldCondensed';
  user-select: none;
  word-break: break-word;
}
.divComponenteBotonAbreModal:hover .textoAbreModal{
  transition: all 200ms ease-in;
  color: white;
}
.divComponenteBotonAbreModal:hover .fondoAbreModal{
  transition: all 200ms ease-in;
  height: 0%;
}
.divComponenteBotonAbreModal:hover .fondoAbreModalHover{
  transition: all 200ms ease-in;
  height: 100%;
}
.divComponenteBotonAbreModal:hover .abbrAbreModal{
  height: 0%;
  bottom: 50%;
  opacity: 0;
  animation-name: esconder_abbr;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}
@keyframes esconder_abbr {
  from {
    height: 50%;
    bottom: 0%;
    opacity: 1;
  }
  to {
    height: 0%;
    bottom: 50%;
    opacity: 0;
  }
}
.divComponenteBotonAbreModal:hover .imgAbreModal{
  height: 50%;
  opacity: 1;
  animation-name: mostrar_img;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}
@keyframes mostrar_img {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 50%;
  }
}